risk-assessment-signature canvas{
  border: 1px solid $divider-text-color;
}

risk-assessment .with-image {
  height: auto;

  img {
    margin-top: 16px;
    width: 100%;
    display: inline-block;
  }
}
