<md-grid-list class="vehicle-inspection-form" md-cols="3" md-row-height="1.5rem">
  <md-grid-tile md-rowspan="2">
    <div>
      <md-icon md-font-set="material-icons">local_gas_station</md-icon>
      Fuel
    </div>
  </md-grid-tile>
  <md-grid-tile>Empty</md-grid-tile>
  <md-grid-tile>Full</md-grid-tile>
  <md-grid-tile md-colspan="2">
    <md-radio-group ng-model="ctrl.model.fuel" class="fuel">
      <md-radio-button value="0%" aria-label="0%"></md-radio-button>
      <md-radio-button value="25%" aria-label="25%"></md-radio-button>
      <md-radio-button value="50%" aria-label="50%"></md-radio-button>
      <md-radio-button value="75%" aria-label="75%"></md-radio-button>
      <md-radio-button value="100%" aria-label="100%"></md-radio-button>
    </md-radio-group>
  </md-grid-tile>

  <md-grid-tile md-rowspan="2">
    <div>
      <md-icon md-font-set="material-icons">album</md-icon>
      Tires
    </div>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="2">
    <md-radio-group ng-model="ctrl.model.tires">
      <md-radio-button ng-value="false" aria-label="Fail">Fail</md-radio-button>
      <md-radio-button ng-value="true" aria-label="Pass">Pass</md-radio-button>
    </md-radio-group>
  </md-grid-tile>

  <md-grid-tile md-rowspan="2">
    <div>
      <md-icon md-font-set="material-icons">brightness_low</md-icon>
      Lights
    </div>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="2">
    <md-radio-group ng-model="ctrl.model.lights">
      <md-radio-button ng-value="false" aria-label="Fail">Fail</md-radio-button>
      <md-radio-button ng-value="true" aria-label="Pass">Pass</md-radio-button>
    </md-radio-group>
  </md-grid-tile>

  <md-grid-tile md-colspan="3" md-rowspan="2">
    <md-button ng-click="ctrl.done()" class="md-raised md-primary">Submit</md-button>
  </md-grid-tile>
</md-grid-list>
