
<md-toolbar class="content-toolbar md-primary">
  <div class="md-toolbar-tools">
    <h3>Edit work order ID {{ctrl.model.id}}</h3>
  </div>
</md-toolbar>


<form name="workorderForm" ng-submit="ctrl.done(workorderForm.$valid)" novalidate layout-padding layout-margin>

  <!--
  <md-input-container>
    <label for="workorderState">Status</label>
    <input type="text" id="inputWorkorderType" name="workorderStatus" ng-model="ctrl.model.status" disabled="true">
  </md-input-container>
  -->

  <md-input-container>
    <label for="workorderType">Type</label>
    <md-select ng-model="ctrl.userState" placeholder="Job Order" id="workorderType">
       <md-option value="Type 01">Job Order</md-option>
       <md-option value="Type 02">Type 02</md-option>
       <md-option value="Type 03">Type 03</md-option>
       <md-option value="Type 04">Type 04</md-option>
     </md-select>
    <!--
    <input type="text"  id="inputWorkorderType" name="workorderType" ng-model="ctrl.model.type" disabled="true">
    -->
  </md-input-container>
  <md-input-container>
    <label for="inputTitle">Title</label>
    <input type="text" id="inputTitle" name="title" placeholder="Title" ng-model="ctrl.model.title" required>
    <div ng-messages="workorderForm.title.$error">
      <div ng-message="required">A title is required.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label for="inputAddress">Address</label>
    <input type="text"  id="inputAddress" name="address" placeholder="Address" ng-model="ctrl.model.address" required>
    <div ng-messages="workorderForm.address.$error">
      <div ng-message="required">An address is required.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label for="inputFinishDate" >Finish Date</label>
    <input type="date"  id="inputFinishDate" name="finishDate" ng-model="ctrl.model.finishDate" required>
    <div ng-messages="workorderForm.finishDate.$error">
      <div ng-message="required">A finish date is required.</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label for="inputFinishTime" >Finish Time</label>
    <input type="time"  id="inputFinishTime" name="finishTime" ng-model="ctrl.model.finishTime" required>
    <div ng-messages="workorderForm.finishTime.$error">
      <div ng-message="required">A finish time is required.</div>
    </div>
  </md-input-container>
  <md-input-container ng-class="{ 'has-error' : workorderForm.summary.$invalid && !workorderForm.summary.$pristine }">
    <label for="inputSummary" >City</label>
    <textarea  id="inputSummary" name="summary" placeholder="Summary" ng-model="ctrl.model.summary" required md-maxlength="150"></textarea>

    <div ng-messages="workorderForm.summary.$error">
      <div ng-message="required">A summary date is required.</div>
    </div>
  </md-input-container>

  <md-button type="submit" class="md-raised md-primary" ng-disabled="workorderForm.$invalid">Edit Workorder</md-button>
</form>
